/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: 'Lato', sans-serif;
    padding: 20px 0;
    background:  linear-gradient(to bottom, #009688 15%, #dcdbd1 15%);
}

/* CONTAINER */

img{
    width: 45px;
    border-radius: 50%;
}


.container{
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
}

.column-left,
.column-right{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.column-left{
    width: 35%;
}

.column-right{
    width: 65%;
}

/* COLUMN LEFT */
/* NOME UTENTE */
.nome-utente,
.contatto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    padding: 8px;
    border-right: 1px solid #c5c4c4;
}
.icons-font i{
    margin-right: 15px;
    font-size: 18px;
    color: #b1b1b1;
}

.nome-utente img,
.contatto img{
    vertical-align: middle;
    margin-right: 5px;
}
.contatto small{
    font-size: 10px;
    margin-left: 10px;
}

/* NOTIFICHE */
.notifiche{
    display: flex;
    padding: 
    8px 10px;
    background-color: #76c3e7;
}

.bell-icon{
    text-align: center;
    line-height: 40px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 10px;
}

.bell-icon i{
    font-size: 20px;
    color: #76c3e7;
}

.text-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-message a{
    font-size: 12px;
    color:rgb(121, 121, 121);
}

.text-message span{
    font-size: 14px;
}

/* SEARCH */

.search{
    padding: 5px;
    background-color: #f0eeee;
}
.box-search{
    background-color: #fff;
    padding: 5px 20px;
}

.box-search i{
    color: #b1b1b1;
    vertical-align: middle;
}
.box-search input{
    width: 80%;
    margin-left: 20px;
    border: none;
}

/* CONTACT */

.box-contact{
    flex-grow: 1;
    background-color: #fff;
    overflow-y: scroll;
}

.active{
    background-color: #f0f1f1;
}
.contact{
    padding: 8px 10px;
    border-bottom: 1px solid #e9ebeb;
}

.box-contact img{
    width: 55px;
    vertical-align: middle;
    margin-right: 20px;
}
/* COLUMN RIGHT */
/* LAST ACCESS */
.box-contact-me{
    display: flex;
}
.profile-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.access-time{
    font-size: 11px;
}
/* MAIN */
.main-message{
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    width: 100%;
    padding: 60px 30px 0 30px;
    overflow-y: scroll;
}

.main-message span{
    font-size: 11px;
    bottom: 3px;
    right: 3px;
}

.box-message-left,
.box-message-right{
    display: flex;
    width: 100%;
}
.box-message-right{
    justify-content: flex-end;
}

.message-left,
.message-right{
    position: relative;
    width: 45%;
    margin-top: 8px;
    padding: 18px;
    border-radius: 10px;
}

.message-left{
    background-color: #fff;
}

.message-right{
    background-color: #d5f9ba;
}

.time{
    position: absolute;
    color: #c8caca;
}

/* write message */

.footer-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #f3eeea;
    padding: 5px 35px;
}

.footer-message i{
    font-size: 20px;
    color: #999999;
}

.footer-message input{
    width: 85%;
    padding: 12px;
    border-radius: 8px;
    border: none;
}

/* SCROOLBAR */
.box-contact::-webkit-scrollbar,
.main-message::-webkit-scrollbar {
    width: 12px;               
}

.box-contact::-webkit-scrollbar-track,
.main-message::-webkit-scrollbar-track {
    background: #f1f1f1;

}

.box-contact::-webkit-scrollbar-thumb,
.main-message::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgb(163, 163, 163);    
    border-radius: 20px;         
}
